<section>
  <div class="py-32">
    <h1 class="font-display text-3xl lg:text-5xl xl:text-8xl relative">Саморозвитоtк по-новому з <span class="text-red-500">go-ahead</span></h1>

    <%= link_to new_user_registration_path, class: "px-6 py-3 bg-neutral-100 text-neutral-500 mt-8 inline-flex items-center space-x-2 rounded-md duration-200 hover:bg-neutral-50" do %>
      <i class="ph ph-play-thin"></i>

      <span>Розпочати</span>
    <% end %>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-8">
    <div class="">
      <h3 class="text-lg font-semibold mb-2 text-neutral-900">Нотатки</h3>
      <p class="text-neutral-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, iure!</p>
    </div>

    <div class="">
      <h3 class="text-lg font-semibold mb-2 text-neutral-900">Тренування</h3>
      <p class="text-neutral-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</p>
    </div>

    <div class="">
      <h3 class="text-lg font-semibold mb-2 text-neutral-900">Події</h3>
      <p class="text-neutral-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quibusdam?</p>
    </div>

    <div class="">
      <h3 class="text-lg font-semibold mb-2 text-neutral-900">Календар</h3>
      <p class="text-neutral-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>
