<section class="flex flex-col justify-center h-screen relative">
  <h1 class="font-display text-3xl lg:text-5xl xl:text-7xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-red-500 2xl:h-44 flex items-center">Brand new self-development experience with go-ahead</h1>

  <%= link_to new_user_registration_path, class: "w-16 h-16 rounded-full bg-white/10 animate animate-pulse flex items-center justify-center mt-8 hover:w-40 hover:space-x-2 duration-100 group" do %>
    <i class="ph ph-play-thin"></i>

    <span class="delay-300 hidden group-hover:inline whitespace-nowrap">Get Started</span>
  <% end %>

  <div class="hidden lg:flex absolute bottom-0 left-0 w-full">
    <div class="w-1/4 h-32">
      <h3 class="text-lg font-semibold text-neutral-400">// Take notes</h3>
      <p class="text-neutral-500">Quickly and efficiently</p>
    </div>

    <div class="w-1/4 h-32">
      <h3 class="text-lg font-semibold text-neutral-400">// Accept challenges</h3>
      <p class="text-neutral-500">From other members and app</p>
    </div>

    <div class="w-1/4 h-32">
      <h3 class="text-lg font-semibold text-neutral-400">// Participate</h3>
      <p class="text-neutral-500">In members-driven events</p>
    </div>

    <div class="w-1/4 h-32">
      <h3 class="text-lg font-semibold text-neutral-400">// Enjoy</h3>
      <p class="text-neutral-500">Our own aesthetics</p>
    </div>
  </div>
</section>

<section class="lg:hidden">
  <h2 class="font-display text-xl md:text-3xl">
    Everything in one place
  </h2>

  <p class="mb-8 text-neutral-400 text-lg mt-2 leading-6">Packed with useful features within a touch</p>

  <div class="mb-4">
    <h3 class="text-sm md:text-lg font-semibold text-neutral-400">// Take notes</h3>
    <p class="text-neutral-500 text-xs md:text-base">Quickly and efficiently</p>
  </div>

  <div class="mb-4">
    <h3 class="text-sm md:text-lg font-semibold text-neutral-400">// Accept challenges</h3>
    <p class="text-neutral-500 text-xs md:text-base">From other members and app</p>
  </div>

  <div class="mb-4">
    <h3 class="text-sm md:text-lg font-semibold text-neutral-400">// Participate</h3>
    <p class="text-neutral-500 text-xs md:text-base">In members-driven events</p>
  </div>

  <div class="mb-4">
    <h3 class="text-sm md:text-lg font-semibold text-neutral-400">// Enjoy</h3>
    <p class="text-neutral-500 text-xs md:text-base">Our own aesthetics</p>
  </div>
</section>
