<div id="<%= dom_id enrolled_program %>">
  <p>
    <strong>Status:</strong>
    <%= enrolled_program.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enrolled_program.user_id %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= enrolled_program.program_id %>
  </p>

</div>
