<h1>Editing enrolled program</h1>

<%= render "form", enrolled_program: @enrolled_program %>

<br>

<div>
  <%= link_to "Show this enrolled program", @enrolled_program %> |
  <%= link_to "Back to enrolled programs", enrolled_programs_path %>
</div>
