<div id="<%= dom_id action %>">
  <p>
    <strong>Name:</strong>
    <%= action.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= action.description %>
  </p>

  <p>
    <strong>Challenge:</strong>
    <%= action.challenge_id %>
  </p>

</div>
