<footer class="flex items-center mt-auto py-4 md:py-8 bg-neutral-50">
  <div class="flex items-center justify-center w-11/12 md:w-3/4 mx-auto">
    <div class="border border-neutral-500 p-8 text-center">
      <h6 class="font-display">go-ahead</h6>
      <p class="text-center text-neutral-400 mt-1">
        <%= Date.current.year %> © All rights reserved
      </p>
    </div>
  </div>
</footer>
