<div id="<%= dom_id challenge %>">
  <p>
    <strong>Name:</strong>
    <%= challenge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= challenge.program_id %>
  </p>

</div>
