<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise.description %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= exercise.activity_id %>
  </p>

</div>
